<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <title>Friends</title>
    </head>
    <body>
      <div id = 'wrapper'>
        <!-- we can use the line below to see all of our data in our template -->
        <!-- with all the data we can then construct a more structured output -->
        {% set counter = 0 %}
        <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Friends Since</th>
          <th></th>
          <!-- special formatting for just the first date -->
     
   
          
          
          {% for friend in all_friends: %}
            <tr>
              <td>{{friend['name']}}</td>
              <td>{{friend['age']}}</td>
              <td>{{friend['created_at'].strftime("%B %d")}}</td>
              <td>{{friend['created_at'].strftime('%Y')}}</td>
            </tr>
          {% endfor %}
        </table>
          
          
        
        <h2>Add a Friend</h2>
        <form action='/friends' method='POST'>
          <p><label for="name">Name:<input type="text" name="name" id="name"></label></p>
          <p><label for="age">Age:<input type="number" name="age" id="age"></label></p>
          <p><input type="submit" value="Add"></p>
        </form>
      </div>
    </body>
</html>